.recipe-item {
  border: 2px solid red;
  padding: 10px;
  box-shadow: 5px 5px 5px 5px rgba(220, 105, 12, 0.28);
  background-color: azure;
}

.recipe-item p {
  color: #fa6400;
  font-weight: 700;
  font-size: 20px;
  margin: 12px 0 12px 0;
}

.recipe-item button {
  /* background:linear-gradient(to right,#fa6400,#fff) ; */
  background: radial-gradient(circle, #fff, #ffcc00, #ff6633);
  padding: 10px 50px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  box-shadow: 5px 5px rgba(247, 245, 245, 0.18);
  border-color: #fa6400;
  cursor: pointer;
  display: flex;
}
